body {
    background-color: black;
    color: white;
}

a {
    color: white;
}

/* Navbar */
/* Components */

.nav-container {
    display: flex;
    border-bottom: 1px solid white;
    padding: 10px;
    justify-content: center;
}

.navbar {
    display: flex;
    padding: 5px;
    gap: 20px;
}

/* Utility */

li {
    list-style-type: none;
    text-align: center;
    font-size: large;
}

/* Hero */

/* Components */

.hero-container {
    background-image: url(/Images/Hero.jpg);
    background-size: cover;
    background-position-x: 50%;
    filter: grayscale(65%);
    display: flex;
    height: 50vh;
    align-items: center;
    margin-bottom: 3em !important;
}

.in-container {
    display: flex;
    width: 100%;
    padding-right: 17.5px;
    padding-left: 17.5px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -17.5px;
    margin-left: -17.5px;
}

.col-align {
    position: relative;
    width: 100%;
    padding-right: 17.5px;
    padding: 17.5px;
}

.btn-light {
    background: black;
}

/* Utility */

.main-head {
    display: flex;
    justify-content: center;
    margin-bottom: 3em !important;
    border: 1px solid white;
}

/* Banner-1 */

/* Components */
.banner-container {
    display: flex;
    height: 40vh;
    justify-content: center !important;
    background-color: white;
    margin-bottom: 3rem !important;
}

    
.banner {
    display: flex;
    width: 100vw;
    padding: 10px;
    gap:20px;
    justify-content: space-between;
}

.item1 {
    display: flex;
    width:25%;
    background-color:black;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3rem !important; 
    justify-content: center;
}

.item2 {
    display: flex;
    width:25%;
    background-color: black;
    padding-left: 17.5px;
    padding-right: 17.5px;
    margin-bottom: 3rem !important; 
    justify-content: center;
}

.item3 {
    display: flex;
    width:25%;
    background-color: black;
    padding-left: 17.5px;
    padding-right: 17.5px;
    margin-bottom: 3rem !important; 
    justify-content: center;
}

.item4 {
    display: flex;
    width:25%;
    background-color: black;
    padding-left: 17.5px;
    padding-right: 17.5px;
    margin-bottom: 3rem !important; 
    justify-content: center;
}

/* Utility */

.wrapper-2 {
    width: 70%;
}



img {
    border: 1px solid black;
    margin-top: 10px;
    max-height: 75%;
    width: 100%;
}

.text-box-2 h2  {
font-size: large;
text-align: center;
color: white;
}



.cta-head {
    display: flex;
    justify-content: center;
    margin-bottom: 3em !important;
    border: 1px solid white;
}

/* Banner-2 */

/* Components */

.banner-container-2 {
    background-image: url(/Images/Cta.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    filter: grayscale(65%);
    display: flex;
    height: 50vh;
    align-content: center;
    margin-bottom: 3rem !important;
}

.in-container-2 {
    display: flex;
    width: 100%;
    padding-right: 17.5px;
    padding-left: 17.5px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.cta-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -17.5px;
    margin-left: -17.5px;
    align-items: center;
}

/* Utility */

/* Footer */

/* Components */

.footer-container {
    display: flex;
    height: 5vh;
    border-top: 1px solid white;
    align-items: center;
}

.footer {
    display: flex;
    padding-right: 17.5px;
    padding-left: 17.5px;
    margin-right: auto;
    margin-left: auto;
}

.footer-head {
    display: flex;
    justify-content: center;
}



